{% extends 'frontend/base.html' %}
{% block body %}
    <div class="col-sm-8 col-sm-offset-2" style="background: white;">
        <div class="form-group">
            <div class="text-center">
                <h1> {{ applicant.first_name }} {{ applicant.last_name }}'s application for {{ applicant.job.job_title }}</h1>
                <h2>Are you sure you want to delete this user application?</h2>
                <a href="{% url 'delete_applicant' applicant.id %}" class="btn btn-success">Yes</a>
                <a href="{% url 'applicants_list' applicant.job.user.username applicant.job.id %}" class="btn btn-danger">No</a><br>
            </div>
        </div>
    </div>
{% endblock %}